.tag-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

/* Title */
.blog_title {
  position: relative;
  font-size: 2rem;
  top: 50px;
  color: #2c3e50;
  font-weight: 800;
  letter-spacing: 5px;
}

/* Hexagon shape */
.tag-hex polygon {
  fill: transparent;
  stroke: #cfd6e0;
  stroke-width: 0.1;
  transition: all 0.5s ease, transform 0.5s ease;
  transform-origin: center;
}

.tag-hex:hover polygon {
  fill: rgba(52, 152, 219, 0.8);
  filter: drop-shadow(2px 2px 4px rgba(255, 255, 255, 0));
  transition: all 0.5s ease;
}

/* Content inside hex */
.hex-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #2c3e50;
  font-size: 1px;

}

.tag-hex:hover .hex-content {
  color: #fff;

}

/* Text */
.hex-title, .hex-count {
  font-size: 3px;
  font-weight: bold;
  text-decoration: none !important;

}
