.tag-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0;
  padding: 20px;
  list-style: none;
  height: 90vh;
}

.menu {
  width: 25rem;
  min-width: 25rem;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  transform: rotate(-7deg);
  background-image: linear-gradient(
    135deg,
    rgba(87, 87, 255, 0.214) 0%,
    var(--french-gray) 50%,
    var(--platinum) 75%,
    var(--french-gray) 100%
  );
  border-bottom-left-radius: 20px 255px;
  border-bottom-right-radius: 225px 20px;
  border-top-left-radius: 255px 20px;
  border-top-right-radius: 20px 225px;
  border: 1px solid var(--dark-3);
  border-bottom: 0;
  overflow: scroll;
  scrollbar-width:none;
  padding: 50px;
  box-shadow: 0 0 10px var(--dark-3);
  z-index: 999;
}


.blog_title {
  position: relative;
  z-index: 999;
}

.menu ol {
  counter-reset: menu;
  list-style: none;
}

.menu-item{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem 0;
  margin: 0.3rem 0;
  border-bottom: 1px dotted var(--moonstone);
}
.menu-item a {
  display: flex;
  justify-content: flex-start;
  color: currentColor;
  text-decoration: none;
  padding: 0.3rem 0;
  order: 0;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: bold;
  text-indent: 2ch;
  color: var(--dark-3);
}

.menu-item a::before {
  content: "";
  display: block;
  border-bottom: 1px dotted var(--moonstone);
  position: relative;
  top: -3px;
  flex: 1 1 auto;
  margin: 0 1rem;
  order: 1;
}

.menu-item a::after {
  counter-increment: menu;
  content: counters(menu, ".");
  flex: 0 0 auto;
  order: 2;
  transform: rotate(7deg) scale(1);
  text-decoration: underline;
  display:none;
}

.sub-menu {
  font-size: 1.6rem;
  font-weight: normal;
}

.sub-menu > li > a {
  text-indent: 0ch;
  padding: 0.5rem 0 0.5rem 2ch;
  margin: 0;
}


.menu::before {
  content: "😪";
  align-self: center;
  transform: rotate(7deg);
  margin-bottom: 2rem;
}

.menu::after {
  content: "";
  align-self: center;
  transform: rotate(7deg);
  margin-top: 1rem;
}

.menu {
  transition: transform 0.3s;
}

.menu:hover {
  transform: rotate(0);
}

.menu::before {
  transition: transform 0.5s;
}

.menu:hover::before {
  transform: rotate(0);
  content: "😀";
}

.menu::after {
  transition: transform 0.5s;
}

.menu:hover::after {
  transform: rotate(0);
  content: "";
}

.menu .menu-item a::after {
  transition: transform 0.3s;
  font-size: 1.2rem;
  text-decoration: none;
}

.menu:hover .menu-item a::after {
  transform: rotate(0);
}

.menu:hover > ol > .menu-item {
  opacity: 0.9;
}

.menu-item:hover {
  transition: background-color 0.3s;
  opacity: 1 !important;
  border-radius: 20px;
}

.menu-item:hover a::after {
  text-decoration: none;
}

.menu-item:hover > a::before {
  transition: flex-grow 0.3s;
  width: 0;
  flex-grow: 0;
  transform-origin: center bottom;
}

.sub-menu > .menu-item {
  max-height: 1ch;
  transform: scaleY(0.1);
  transform-origin: center top;
  transition: transform 0.2s, max-height 0.5s;
}

.menu:hover .sub-menu .menu-item {
  max-height: 10em;
  transform: scaleY(1);
}