/* src/components/Footer.css */
.footer_ {
    position: fixed;
    display: flex;
    left: -150px;
    bottom: 62%;
    background-color: transparent;
    text-align: left;
    padding: 0px 10px;
    justify-content: center;
    align-items: center;
    transform: rotate(-90deg);
    z-index: 1;
}

.social-icons {
    display: flex;
    margin-bottom: 0;
    left: 150px;
    position: relative;
}

.social-icons a {
    position: relative;
    top: -7px;
    right: 15px;
    padding: 5px;
    color: var(--white);
    text-decoration: none;
    font-size: 12px;
    rotate: 90deg;
}

.social-icons a:hover {
    scale: 1.2;
    transition: 0.3s;
}

.footer_ p {
    font-size: 0.9rem;
    position: relative;
    width: 450px;
    color: var(--white);
}
.clock {
    margin-left: 15px;
    font-family: "roboto";
}

.author-container {
    position: fixed;
    scale: .8;
    left: -5px;
    bottom: -48px;
    rotate: 90deg;
}

.author-picture {
    position: absolute;
    max-width: 10rem;
    max-height: 10rem;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
    border: 5px solid #fff;
    animation: pulse 6s infinite;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    z-index: 0;
}
.about_auther {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2.5rem;
}
@keyframes pulse {
    0% {
        transform: scale(0.95);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.95);
    }
}

.drop {
    position: relative;
    margin: 0;
    height: 150px;
    width: 150px;
    background: #54abfb;
    border-radius: 51% 49% 48% 52% / 62% 44% 56% 38%;
    opacity: 0.8;
    border: 2px solid #3d93ff;
    animation: wobble 1s linear infinite alternate;
    z-index: 1;
    opacity: 0.3;
    scale: 1.3;
}

.drop::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: #318cfe;
    border-radius: 51% 49% 48% 52% / 62% 44% 56% 38%;
    box-shadow: -20px 30px 16px #1b6cfb,
        -40px 60px 32px #1b6cfb, inset -6px 6px 10px #1b6cfb,
        inset 2px 6px 10px #1a74e5,
        inset 20px -20px 22px white,
        inset 40px -40px 44px #a8ceff;
    animation: wobble 3s linear infinite alternate;
}

.drop::after {
    content: "";
    position: absolute;
    height: 40px;
    width: 40px;
    background: #e6fdfb;
    border-radius: 44% 56% 46% 54% / 36% 50% 50% 64%;
    left: 100px;
    top: 40px;
    box-shadow: 16px 40px 0 -10px white;
    opacity: 0.8;
    animation: shine 2s linear infinite alternate;
}

.drop_2 {
    position: absolute;
    left: 85px;
    top: 8rem;
    margin: 0;
    height: 100px;
    width: 135px;
    background: #54abfb;
    border-radius: 51% 49% 48% 52% / 62% 44% 56% 38%;
    opacity: 0.8;
    border: 2px solid #3d93ff;
    animation: wobble 1s linear infinite alternate;
    z-index: 1;
    opacity: 0.3;
    scale: 0.25;
}

.drop_2::before {
    content: "";
    position: absolute;
    height: 120%;
    width: 100%;
    background: #318cfe;
    border-radius: 51% 49% 48% 52% / 62% 44% 56% 38%;
    box-shadow: -20px 30px 16px #1b6cfb,
        -40px 60px 32px #1b6cfb, inset -6px 6px 10px #1b6cfb,
        inset 2px 6px 10px #1a74e5,
        inset 20px -20px 52px white,
        inset 40px -40px 44px #a8ceff;
    animation: wobble 3s linear infinite alternate;
}

.drop_2::after {
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    background: #ffffff;
    border-radius: 44% 56% 46% 54% / 36% 50% 50% 64%;
    left: -40px;
    top: -40px;
    box-shadow: 16px 20px 0 -10px white;
    opacity: 1;
    animation: shine 2s linear infinite alternate;
}

@keyframes wobble {
    0% {
        border-radius: 51% 49% 48% 52% / 62% 44% 56% 38%;
    }
    50% {
        border-radius: 46% 53% 42% 59% / 58% 48% 50% 43%;
    }
    100% {
        border-radius: 41% 57% 38% 65% / 54% 58% 46% 48%;
    }
}

@keyframes shine {
    0% {
        left: 80px;
        top: 40px;
    }
    50% {
        left: 85px;
        top: 44px;
    }
    100% {
        left: 74px;
        top: 38px;
    }
}

@media screen and (max-width: 1000px) {
    .footer_ {
        position: relative;
        display: flex;
        bottom: auto;
        left: auto;
        justify-content: center;
        align-items: center;    
        transform: rotate(0deg);
    }
    .social-icons {
        position: relative;
        bottom: 0;
        background-color: transparent;
        text-align: center;
        left: 0;
        padding: 0;
        margin: 0 auto;
        transform: rotate(0deg);
        overflow-x: hidden;
    }
    .author-container {
        display: none;
    }

    .social-icons a {
        position: relative;
        rotate: 0deg;
    }
    .footer_ p {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        font-size: 0.8rem;
    }
}