/* PostDetail.css */
.post-content {
  line-height: 1.8; /* Adjust line height for better readability */
}

.det-container{
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #333;
  line-height: 1.5;
  text-align: justify;
  background-image: url('https://images.unsplash.com/photo-1607236083122-583e96ea5aac?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.det-titel{
  font-size: 1.5rem;
  font-weight: 700;
  color: #333;
  text-align: center;
  margin: 30px 0;
}

.author-info {
  font-size: 0.9rem;
}

.det-img{
  position: relative;
  width: 20% auto;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}