:root {
  --antiflash-white: #f0f0f1;
  --columbia-blue: #cddce3;
  --platinum: #dde0e6;
  --seasalt: #f6f7f7;
  --white: #fbfbfb;
  --french-gray: #cfd4da;
  --sky-blue: #80bed0;
  --moonstone: #45b0bc;
  --french-gray-2: #c7cacf;
  --platinum-2: #e6e7e9;
  --dark: #000000;
  --dark-2: #343a40;
  --dark-3: #495057;
  --red: #c70039;
  
}

.App {
  position: relative;
  background-image: url("https://images.unsplash.com/photo-1487088678257-3a541e6e3922?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 97dvh;
}

.overlay {
  background-color: rgba(255, 255, 255, 0.67);
  z-index: 0;
}

.developer-link {
  font-size: 0.8rem;
  min-width: 0px;
  position: absolute;
  font-size: 13px;
  right: 5px;
  bottom: 5px;
  color: var(--sky-blue);
  text-decoration: none;
  z-index: 1;
}